/*RESETEO*/
body{
    background-color: rgb(224, 207, 207);
}
a{
text-decoration: none;
}
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap"); /*font-family: italiana*/

/*HEADER*/
.main_header_title{
    background-color: black;
    text-align: center;
    color: white;
    margin-bottom: 0px;
}
/*carrusel*/
.carousel-item{
    height: 600px;
}
.carousel-item div a {
    background-color: rgba(70, 62, 62, 0.4);
    font-size: 4.4rem;
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;
    border-top: 0.28rem double white;
    border-bottom: 0.28rem double white;
    margin-top: 0rem;
    transition: font-size 2s; /* transicion para agrandar texto portada*/
    display: grid;
    align-content: center;
  }
.active{
    height: 600px;
}

/*media query*/

@media screen and (max-width: 390px) {
    #container{
      display: grid;
      grid-template-columns: 1fr ;
      margin: 1em;
      justify-items: center;
      gap: 1em;
    }
    #containerFetch{
    display: grid;
    grid-template-columns: 1fr ;
    margin: 1em;
    justify-items: center;
    gap: 1em;
    }
}
  
  @media screen and (min-width:390px) and (max-width: 768px) {
    #container{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin: 1em;
        justify-items: center;
        gap: 1em;
    }
    #containerFetch{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin: 1em;
        justify-items: center;
        gap: 1em;
    }
    }
/*mediaquery carrusel*/
@media screen and (max-width: 390px) {
    .carousel-item {
      text-align: center;
      -moz-text-align-last: center;
           text-align-last: center;
      color: beige;
      height: 32.22rem;
      background-size: cover;
      text-align: center;
    }
    .carousel-item img {
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      height: 100vh;
    }
    .carousel-item a {
      font-size: 2.78rem;
    }
    .carousel-item a:hover {
      font-size: 3rem;
    }
   
  }
  @media screen and (min-width:390px) and (max-width: 768px)  {
    .carousel-item {
      text-align: center;
      -moz-text-align-last: center;
           text-align-last: center;
      color: beige;
      height: 32.22rem;
      background-size: cover;
      text-align: center;
    }
    .carousel-item img {
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      height: 100vh;
    }
    .carousel-item a {
      font-size: 2.78rem;
    }
    .carousel-item a:hover {
      font-size: 3rem;
    }
   
  }
/*CATALOGO*/

.card{
    width: var(--max);
}
.card-img-top{
    width: 100%;
    max-width: var(--max);
    height: calc(var(--max));
    object-fit: cover;
}
.catalogo_title{
    text-align: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.276);
    color: white;
}
.catalogo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    row-gap: 20px;
}
.catalogo_tarjeta{
    padding: 20px;
    background-color: black;
}
#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em;
    justify-items: center;
    gap: 1em;
}
@media screen and (max-width: 390px) {
    #container {
      display: grid;
      grid-template-columns: 1fr;
    }
}
@media screen and (min-width:390px) and (max-width: 768px) {
    #container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
}

#containerFetch{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1em;
    justify-items: center;
    gap: 1em;
}
@media screen and (max-width: 390px) {
    #containerFetch {
      display: grid;
      grid-template-columns: 1fr;
    }
}
@media screen and (min-width:390px) and (max-width: 768px) {
    #containerFetch {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
}
/*ajuste de imagenes tarjetas*/
.ajusteImagen{
    width: 230px;
    height: 230px;
    overflow: hidden;
    margin: 5px;
    position: relative;
}
.efectoTarjeta:hover{
    border: 5px solid rgb(82, 62, 213) ;
    transform: scale(1.05, 1.05);
    transition: 1s;
}


/*CARRITO*/

.carro{
    margin: 5px;
}

.carro img{
width: 30px;
}



  /* MODAL */
 #boton-carrito {
    border: none;
    color: royalblue;
    font-size: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(230, 173, 205);
}
#boton-carrito:focus {
    outline: none;
}
.boton-agregar {
    background-color: royalblue;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
}
.boton-agregar:hover {
    cursor: pointer;
}
.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 200px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: royalblue;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid rgb(230, 173, 205);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 3px ;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}

.boton-eliminar {
    background-color: white;
    color: black;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}
.boton-comprar{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/*ESTILOS FORMULARIO CONTACTO*/
.fondo{
    background-image: url("https://img.freepik.com/foto-gratis/morena-palida-moda-vestido-verde-largo-chaqueta-negra-gafas-sol-pie-calle-dia-contra-pared-edificio-ciudad-luz_197531-24468.jpg?w=2000");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h5{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
fieldset{
    color: white;
    display: grid;
    width: 22rem;
    height: 25rem;
    margin: auto;
    margin-top: 7rem;
    margin-bottom: 7rem;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 1px -1px 17px 0px rgba(0, 0, 0, 0.75);
    justify-content: center;
    padding: 10px;
}
.box input{
    width: 280px;
    height: 20px;
    margin: 4px;
}
.box textarea{
    resize: none;
    width: 280px;
    height:200px ;
    margin: 5px;
}
.box button{
    margin-left: 5rem;
    background-color: #063bdb;
    border: 0px;
    padding: 10px 40px;
    color: white;
    font-size: 1rem;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
/**/
#Whatsapp img{
width: 50px;
height: auto;
}

/*footer*/

#footer{
    background-color: #00000080;
    background-image: url(https://images.vexels.com/media/users/3/226023/raw/2a23d784a43c1961a436643a7df1ec99-diseno-de-estampado-de-cebra.jpg);
    color: white;
    text-align: center;
    padding: 20px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
       
}
.mediosDePago{
    background-color: rgba(0, 0, 0, 0.545);
    padding: 20px;
}
.mediosDePago ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    
}
@media screen and (max-width: 390px) {
    .mediosDePago ul li img {
      height: 12px;
      gap: 2px;
    }
}